<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Squish</title>

    <!-- LINKS -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />

    <!-- SCRIPTS -->
    <script src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="/js/menu.js"></script>
  </head>

  <body>
    <!-- HAMBURGER MENU -->
    <div class="menu-container" id="dashMenu">
      <div class="menu-wrapper dashMenuWrapper">
        <div id="hamburger-menu">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <!-- hamburger-menu -->
      </div>
      <!-- menu-wrapper -->

      <ul class="menu-list accordion dashMenuList">
        <li class="accordion-toggle nav1">
          <a class="menu-link" href="/">Home</a>
        </li>
        <% if (typeof user !== 'undefined' && user) { %>
        <li class="accordion-toggle nav2">
          <a class="menu-link" href="/dashboard">Dashboard</a>
        </li>
        <li class="toggle accordion-toggle nav3">
          <a class="menu-link" href="/journal">Journal</a>
        </li>
        <li class="toggle accordion-toggle nav4">
          <a class="menu-link" href="/logout">Logout</a>
        </li>
        <% } else { %>
        <li class="toggle accordion-toggle nav4">
          <a class="menu-link" href="/signup">Signup</a>
        </li>
        <li class="toggle accordion-toggle nav5">
          <a class="menu-link" href="/login">Login</a>
        </li>
        <% } %>
      </ul>
    </div>
    <!-- HAMBURGER MENU-->

    <div class="dash-container">
      <section class="dash-body">
        <!-- DASHBOARD BODY -->
        <div class="titleLogo">
          <div class="dash-logo">
            <img src="../images/Default.png" alt="logo" />
          </div>
        </div>

        <div class="dash-content-bkgrnd">
          <form method="GET" action="/dashboard">
            <div class="dash-filter">
              <div class="dash-title">
                <h2>Dashboard</h2>
              </div>

              <span>Filter:</span>
              <div class="dashEmoji">
                <div class="emojiContainer">
                  <label for="happy" class="emojiLabel">
                    <input type="checkbox" name="mood" id="happy" value="happy"
                    class="emojiInput" onchange="this.form.submit()" <%-
                    currentMoods.includes('happy') ? 'checked' : '' %>>
                    <iconify-icon
                      icon="fa6-regular:face-smile"
                      class="emojiFace"
                    ></iconify-icon>
                  </label>
                </div>

                <div class="emojiContainer">
                  <label for="meh" class="emojiLabel">
                    <input type="checkbox" name="mood" id="meh" value="meh"
                    class="emojiInput" onchange="this.form.submit()" <%-
                    currentMoods.includes('meh') ? 'checked' : '' %>>
                    <iconify-icon
                      icon="fa6-regular:face-meh"
                      class="emojiFace"
                    ></iconify-icon>
                  </label>
                </div>

                <div class="emojiContainer">
                  <label for="annoyed" class="emojiLabel">
                    <input type="checkbox" name="mood" id="annoyed"
                    value="annoyed" class="emojiInput"
                    onchange="this.form.submit()" <%-
                    currentMoods.includes('annoyed') ? 'checked' : '' %>>
                    <iconify-icon
                      icon="fa6-regular:face-rolling-eyes"
                      class="emojiFace"
                    ></iconify-icon>
                  </label>
                </div>

                <div class="emojiContainer">
                  <label for="angry" class="emojiLabel">
                    <input type="checkbox" name="mood" id="angry" value="angry"
                    class="emojiInput" onchange="this.form.submit()" <%-
                    currentMoods.includes('angry') ? 'checked' : '' %>>
                    <iconify-icon
                      icon="fa6-regular:face-angry"
                      class="emojiFace"
                    ></iconify-icon>
                  </label>
                </div>

                <div class="emojiContainer">
                  <label for="sad" class="emojiLabel">
                    <input type="checkbox" name="mood" id="sad" value="sad"
                    class="emojiInput" onchange="this.form.submit()" <%-
                    currentMoods.includes('sad') ? 'checked' : '' %>>
                    <iconify-icon
                      icon="fa6-regular:face-frown"
                      class="emojiFace"
                    ></iconify-icon>
                  </label>
                </div>
              </div>
            </div>
          </form>

          <div>
            <div class="dash-images">
              <% if (typeof entries !== 'undefined' && entries.length > 0) { %>
              <% entries.forEach((entry, index) => { %> <% if (index % 3 === 0)
              { %>
              <div class="dash-row">
                <% } %>
                <div class="note">
                  <div class="noteBody">
                    <!-- <a href="#" class="noteLinkBody"> -->
                    <!-- Consider linking to a detail page: /entry/<%= entry._id %> -->
                    <div class="noteTitle">
                      <h3><%= entry.title %></h3>
                      <span class="mood-icon-display">
                        <% if (entry.mood === 'happy') { %>
                        <iconify-icon
                          icon="fa6-regular:face-smile"
                        ></iconify-icon>
                        <% } else if (entry.mood === 'meh') { %>
                        <iconify-icon
                          icon="fa6-regular:face-meh"
                        ></iconify-icon>
                        <% } else if (entry.mood === 'annoyed') { %>
                        <iconify-icon
                          icon="fa6-regular:face-rolling-eyes"
                        ></iconify-icon>
                        <% } else if (entry.mood === 'angry') { %>
                        <iconify-icon
                          icon="fa6-regular:face-angry"
                        ></iconify-icon>
                        <% } else if (entry.mood === 'sad') { %>
                        <iconify-icon
                          icon="fa6-regular:face-frown"
                        ></iconify-icon>
                        <% } else { %> <%= entry.mood %>
                        <!-- Fallback to text if mood is not recognized -->
                        <% } %>
                      </span>
                    </div>
                    <div class="noteDescription">
                      <div class="noteText">
                        <p><%= entry.entry %></p>
                      </div>
                      <div class="noteDate">
                        <p>
                          Date: <%= new Date(entry.date).toLocaleDateString() %>
                        </p>
                      </div>
                    </div>
                    <!-- </a> -->
                  </div>
                </div>
                <% if (index % 3 === 2 || index === entries.length - 1) { %>
              </div>
              <% } %> <% }) %> <% } else { %>
              <p>
                No entries found. Try adjusting your filters or create a new
                entry!
              </p>
              <% } %>
            </div>

            <div class="dash-all-buttons">
              <div class="dash-button">
                <button type="submit">Previous</button>
              </div>
              <div class="dash-button">
                <button type="submit">Next</button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="addEntryBtn">
      <span>
        <a href="/journal"
          ><iconify-icon icon="fa:plus-circle" id="addBtn"></iconify-icon
        ></a>
      </span>
    </div>
  </body>
</html>
